@keyframes simple {
  from{
    background-color: blue;
    border-radius: 0;
    left: 0;
  }
  to{
    background-color: rgb(19, 197, 13);
    border-radius: 100px;
    left: 100px;
  }
}
@keyframes pro {
  0%{
    background-color: blue;
    border-radius: 0;
    left: 0;
    top:0;
  }
  25%{
    background-color: rgb(83, 204, 8);
    border-radius: 100px;
    left: 550px;
    top:0;
  }
  50%{
    background-color: rgb(13, 31, 120);
    border-radius: 0px;
    left: 550px;
    top:550px;
  }
  75%{
    background-color: rgb(231, 102, 10);
    border-radius: 100px;
    left: 0px;
    top:550px;
  }
  100%{
    background-color: rgb(19, 197, 13);
    border-radius: 100px;
    left: 0px;
    top:0;
  }
}

.example{
  width: 150px;
  height: 150px;
  background-color: blue;
  position: relative;
  margin-bottom: 10px;
  animation-name: pro;
  animation-duration: 6s;
  animation-iteration-count: 3;
  /* animation-iteration-count: infinite; */

}
.second{
  animation-delay: 6s;
  animation-direction: reverse;
}








@keyframes move {
    from {left: 0px;}
    to {left: 1800px;}
  }
  .animatio>div {
    width: 90px;
    height: 90px;
    padding: 5px;
    color: #fff;
    background-color: rgb(54, 74, 11);
    font-weight: bold;
    position: relative;
    animation-name: move;
    animation-duration: 15s;
    animation-iteration-count: infinite;
  }
  .linear {animation-timing-function: linear}
  .ease {animation-timing-function: ease;}
  .ease-in {animation-timing-function: ease-in;}
  .ease-out {animation-timing-function: ease-out;}
  .ease-in-out {animation-timing-function: ease-in-out;}
  .custom{
    animation-timing-function: cubic-bezier(1,.08,.15,.49);
  }