body{
    margin: 0;
}
header{
    background-color: yellow;
    padding: 20px;
    /* position: static; */
    position: sticky;
    /* position: fixed;
    position: absolute;
    position: relative; */
    top: 0;
    /* top: 0;
    right: 0;
    left: 0;
    bottom: 0; */

    /* z-index: -1-999; */
    z-index: 2;
}
p{
    width: 250px;
    font-size: 24px;
    margin: 0 auto;
}
a{
    position: fixed;
    bottom: 100px;
    right: 15px;
    background-color: blue;
    color: white;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
}
.abs{
    background-color: palegreen;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    transition: all 5s;
}
.abs.one{
    top: -100px;
    right: -250px;
    background-color: darkcyan;
    z-index: 4;
}
.abs.two{
    /* right: 150px;
    bottom:350px; */
    z-index: 5;
}

.rel{
    position: relative;
    width: 350px;
    margin: 0 auto;
    background-color: rgba(218, 165, 32, 0.874);
    padding: 20px;
    height: 300px;
    z-index: 5;
    /* left: 100px;
    bottom: 100px; */
}
.rel:hover .abs.one{
    top: -10px;
    right: -25px;
}